.eventContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    padding: 5% 10%;
    gap: 5rem; 
    background-color: var(--white);
}

.eventContainer header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.eventContainer > header p {
    max-width: 90%;
}

.eventContainer > header h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

.eventContainer > header p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

.eventContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.eventContent > picture {
    max-width: 100%;
}

.eventContent > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    max-width: 100%;
}

.eventContent > div .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.eventContent > div .list .item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.eventContent > div .list .item img {
    width: 2rem;
}

.eventContent > div .list .item span {
    width: 100%;
}

.eventContent > div a {
    text-align: center;
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: .5rem;
    max-width: 100%;
}

.eventContent > div a:hover {
    opacity: .8;
}

.partnershipsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ListPartnerships {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .eventContent {
        flex-direction: row;
    }

    .eventContent > picture {
        max-width: 40%;
    }
    
    .eventContent > div {
        max-width: 40%;
    }
    
    .eventContent > div a {
        max-width: 50%;
    }
}